/* game board table */

#game {
  padding-top: 10%;
  margin: auto;
  width: 50%;
  text-align: center;
}

#board {
  margin: auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  border-radius: 40%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 40%;
}

/* color of player one and player two */

.p1 {
  background-color: teal;
}

.p2 {
  background-color: orangered;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top.player1 td:hover {
  background-color: teal;
  transition: 0.2s;
}

#column-top.player2 td:hover {
  background-color: orangered;
  transition: 0.2s;
}
